#gridContainer {
    width: 800px;
    height: 800px;
    border: 5px solid black;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.cell {
    background-color: white;
}

.gridSize {
    display: block;
    margin: 10px auto;
}