#gridContainer {
    width: 800px;
    height: 800px;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.row {
    width: 800px;
    height: 50px;
    background-color: blue;
    display: flex;
}

.cell {
    width: 50px;
    height: auto;
    border: 1px solid yellow;
}

.gridSize {
    display: block;
    margin: auto;
}